.wrapper {
    width: 100vw;
    gap: 40px;
    margin: 0;

}
.sectionWrap, .searchWrap {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto

}

.sectionWrap ul {
    list-style-type: none;
    padding-left: 0;
}
.serviceWrap {
    gap:20px
}
.sectionWrap.headerSearch
{
    width: 100%;
    max-width: 100%;
}
.connectWrap {
    position: relative;
}
.popupContact {
    position: absolute;
    box-shadow: 0 -3px 18px 0 rgba(0, 0, 0, 0.15);
    top: -40px;
    border-radius: 16px;
    padding: 15px;
    width: 290px;
    z-index: 100;
}

.popwrap>div {
    width: 100%;
}
.phoneblock {
    margin-bottom: 20px;
}
.popupContact .subtitle {
    margin-bottom: 20px;
    margin-top: 20px;
}
.socialBlock {
    gap: 20px;
    margin-bottom: 10px;
}
.catalogMenu {
    padding: 15px 20px;
    border-radius: 4px;
}
.burger {
    width: 24px;
    height: 24px;
    padding: 2px;
}
.burger .burger_hor {
    height: 2px;
    width: 100%;
}
.burger.hor {
    gap:3px;
}
.burger .burger_degl {
    height: 2px;
    width: 100%;
    rotate: 45deg;
    position: relative;
    display: block;
    top:1px;
}
.burger .burger_degr {
    height: 2px;
    width: 100%;
    rotate: -45deg;
    position: relative;
    display: block;
    top:0;
}
.burger.Active {
    display: none
}
.catalog_button {
    gap:10px;
    cursor: pointer;
}
.header-search-wrap-parent {
    max-width: 504px!important;
    width: auto;
}
