.wrapper {
    width: 100vw;
    margin: 0;

}
.sectionWrap, .searchWrap {
    width: 100%;
    max-width: 1280px;
    margin: 5px auto 0 auto;

}

.sectionWrap ul {
    list-style-type: none;
    padding-left: 0;
}
.serviceWrap {
    gap:20px
}
.sectionWrap.headerSearch
{
    width: 100%;
    max-width: 100%;
}
.connectWrap {
    position: relative;
}
.popupContact {
    position: absolute;
    box-shadow: 0 -3px 18px 0 rgba(0, 0, 0, 0.15);
    top: -40px;
    border-radius: 16px;
    padding: 15px;
    width: 290px;
    z-index: 1000;
    display: none;
}

.popwrap>div {
    width: 100%;
}
.popupContact .subtitle {
    margin-bottom: 20px;
    margin-top: 20px;
}
.socialBlock {
    gap: 20px;
    margin-bottom: 10px;
}
.catalogMenu {
    padding: 15px 20px;
    border-radius: 4px;
}
.burger {
    width: 24px;
    height: 24px;
    padding: 2px;
}
.burger .burger_hor {
    height: 2px;
    width: 100%;
}
.burger.hor {
    gap:3px;
}
.burger .burger_degl {
    height: 2px;
    width: 100%;
    rotate: 45deg;
    position: relative;
    display: block;
    top:1px;
}
.burger .burger_degr {
    height: 2px;
    width: 100%;
    rotate: -45deg;
    position: relative;
    display: block;
    top:0;
}
.burger.Active {
    display: none
}
.catalog_button {
    gap:10px;
    cursor: pointer;
}
.header-search-wrap-parent {
    max-width: 504px!important;
    width: auto;
}

.connectPhone img {
    bottom: 6px;
    position: relative;
    left: 5px;
}
.connectPhone {
    cursor: pointer
}
.infoWrap {
    width: 100px;
}
.infoWrap .icon-wrap .count {
    position: absolute;
    top: -9px;
    right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px #FFFFFF solid;

}
.icon-wrap {
    position: relative;
}
.header-search-wrap,.header-search .header-search-lg,
.header-search .header-search-lg.header-search-lg-background,
.header-search .header-search-lg input{
    background-color: #4E645C!important;
}
.submenuWrap {
    width: calc(100% - 280px);
}
.mainCatalogMenu {
    width: 280px;
}

.mainMenu {
}
.mainMenu li {
    height: 47px;
    margin: 5px 0;
    position: relative;

}
.mainMenu li:hover, .mainMenu li.active {
    background-color: #FFFFFF;
    border-right: 5px #499777 solid;
}
.mainMenu li.active:before {
    content: "";
    width: 50vw;
    height: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    right: 100%;
}

.burgerCatalogMenu {
    height: auto;
    top:-5px;
    position: relative;
    border-radius: 0 0 40px 40px;
    z-index: 200;
    max-height: calc(100% - 140px);

}
.burgerCatalogMenu .sectionWrap {
    margin-top: 0;
}
.fixed {
    position: fixed;
}
.sectionWrap.header,.sectionWrap.headerSearch {
    z-index: 200;
}
.burgerOverlay {
    opacity: 0.5!important;
    visibility: visible!important;
}
.mainCatalogMenu {
    padding-top: 30px;
    padding-bottom: 30px;
}
.submenuWrap {
    padding: 30px;
    background-color: #ffffff;
    height: 100%;
}
.submenuWrap .subMenu {
    display: none;
}
.submenuWrap .subMenu li {
    height: 37px;
    min-width: 200px;
}
